body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

*{
    margin: 0;
    padding: 0;
}


.quiz-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-width:400px;
    padding: 2rem;
    margin: 2rem;
}

.quiz-container ul li  {
    list-style: none;
   align-self: flex-start;
    margin: 0.4rem;
}